.form {
  & > div {
    position: relative;
    &:not(:last-of-type) {
      margin-bottom: 60px;
      @include media-max(1366) {
        margin-bottom: 25px;
      }
      @include media-max(991) {
        margin-bottom: 60px;
      }
      @include media-max(575) {
        margin-bottom: 50px;
      }
    }
  }
  button {
    margin-top: 65px;
    width: fit-content;
    @include media-max(1366) {
      margin-top: 50px;
    }
    @include media-max(991) {
      margin: 65px auto 0;
    }
  }

  label.error {
    color: #dc4b4b;
    position: absolute;
    bottom: -28px;
    @include media-max(575) {
      font-size: 12px;
    }
  }
}