.info {
  &__container {
    & > div {
      &:first-of-type {
        margin-bottom: 90px;
        @include media-max(575) {
          margin-bottom: 45px;
        }
      }
    }
  }
  &__title {
    margin-right: 30px;
    word-break: break-word;
    max-width: 520px;
    margin-bottom: 40px;
    font-weight: 400;
    @include media-max(575) {
      margin-bottom: 25px;
    }
  }
  &__description {
    max-width: 540px;
    @include media-max(575) {
      line-height: 20px;
      font-size: 14px;
    }
  }
  &__image {
    margin-right: 30px;
    @include media-max(991) {
      margin-right: 0;
      display: none;
    }
    img {
      object-fit: cover;
      max-width: 540px;
      width: 100%;
      height: 660px;
    }
  }
  &__feature {
    max-width: 540px;
    width: 100%;
    @include media-max(1199) {
      max-width: 340px;
    }
    @include media-max(991) {
      max-width: none;
    }
    &-block {
      &:not(:last-of-type) {
        margin-bottom: 45px;
        @include media-max(575) {
          margin-bottom: 35px;
        }
      }
      & > span {
        line-height: 28px;
        display: inline-block;
        width: 100%;
        margin-bottom: 60px;
        font-size: 28px;
        text-transform: uppercase;
        position: relative;
        @include media-max(575) {
          margin-bottom: 30px;
          font-size: 16px;
        }
        &::before {
          content: '';
          display: block;
          position: absolute;
          bottom: -30px;
          left: 0;
          width: 100%;
          height: 1px;
          background: #c2bfbd;
          @include media-max(575) {
            bottom: -15px
          }
        }
      }
      ul {
        li {
          @include media-max(575) {
            font-size: 14px;
          }
          span {
            font-family: Rubik, sans-serif;
            font-size: 18px;
            font-weight: 500;
            @include media-max(575) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}