.list-mobile {
  @include media-min(1200) {
    display: none;
  }
  & > ul {
    li {
      position: relative;
      padding: 10px 0;
      min-height: 120px;
      background-repeat: no-repeat;
      background-size: cover;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .7);
      }
      &:first-of-type {
        background-image: url("../images/dist/main/category-mobile-1.jpg");
      }
      &:nth-of-type(2) {
        background-image: url("../images/dist/main/category-mobile-2.jpg");
      }
      &:last-of-type {
        background-image: url("../images/dist/main/category-mobile-3.jpg");
      }
    }
  }
  &__img {
    z-index: 1;
    svg {
      max-width: 60px;
      max-height: 50px;
      fill: #FFFFFF;
    }
  }
  &__text {
    word-break: break-word;
    z-index: 1;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 25px;
  }
  &__contacts {
    display: block;
    width: 100%;
    padding: 30px 0;
    span {
      margin-left: 17px;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 300;
      color: #FFFFFF;
    }
  }
}