.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  flex-grow: 1;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: .7s;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background: rgba(64, 55, 47, .95);
    width: 100%;
    height: 100%;
  }
  &.active {
    left: 0;
    visibility: visible;
  }
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__header {
    z-index: 1;
    padding-left: 70px;
    padding-right: 70px;
    @include media-max(575) {
      padding-left: 20px;
      padding-right: 20px;
    }
    .close {
      img {
        width: 40px;
        height: 40px;
        @include media-max(575) {
          width: 25px;
          height: 25px;
        }
      }
      @include media-min(1281) {
        display: none;
      }
    }
  }
  &__lang {
    @include media-max(575) {
      margin: 60px 0 40px 0;
    }
    @include media-min(992) {
      display: none;
    }
    ul {
      flex-wrap: wrap;
      li {
        &:not(:last-of-type) {
          margin-right: 30px;
        }
        a {
          font-size: 14px;
          color: #9e9b98;
          text-transform: uppercase;
          transition: .2s;
        }
        &:hover,
        &.active {
          a {
            color: #FFFFFF;
          }
        }
      }
    }
  }
  &__right {
    padding: 65px 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 0;
    right: 0;
    max-width: 220px;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    opacity: 1;
    z-index: 1;
    @include media-max(991) {
      display: none;
    }
    &-close,
    &-search {
      img {
        width: 40px;
        height: 40px;
      }
    }
    &-close {
      transition: .4s;
      &:hover {
        transform: rotate(-180deg);
      }
    }
    &-search {
      opacity: 0; // temp
      visibility: hidden; // temp
    }
    &-lang {
      span {
        position: relative;
        font-family: Rubik, sans-serif;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        display: inline-flex;
        max-width: 65px;
        text-transform: uppercase;
        &::before {
          content: '';
          position: absolute;
          bottom: -5px;
          left: 50%;
          height: 1px;
          width: calc(100% - 24px);
          background: #b58b5b;
          transform: translate(-50%);
        }
      }
      ul {
        margin-top: 50px;
        li {
          text-align: center;
          &:not(:last-of-type) {
            margin-bottom: 12px;
          }
          a {
            color: #adaaa8;
            transition: color .4s;
          }
          &:hover,
          &.active {
            a {
              color: #40372f;
            }
          }
        }
      }
    }
  }
  &__nav {
    z-index: 1;
    @include media-max(575) {
      margin-bottom: 70px;
    }
    ul li {
      cursor: pointer;
    }
    & > div {
      & > ul {
        & > li {
          padding-bottom: 20px;
          transition: .4s;
          width: fit-content;
          @include media-max(1366) {
            padding-bottom: 5px;
          }
          & > a {
            display: inline-block;
            text-transform: capitalize;
            transition: .4s;
          }
          &:hover {
            padding-left: 40px;
            transition: .4s;
            & > a {
              color: #b58b5b;
            }
            & > ul {
              margin-top: 20px;
            }
          }
          & > ul {
            margin-top: 20px;
            @include media-max(1280) {
              margin-left: 40px;
              height: 100%;
              opacity: 1;
              visibility: visible;
            }
            @include media-max(575) {
              margin-left: 20px;
            }
            & > li {
              & > a {
                font-size: 18px;
                color: #FFFFFF;
                position: relative;
                transition: color .4s;
                &::before {
                  content: '';
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  display: block;
                  width: 0;
                  height: 0;
                  background: #b58b5b;
                  transition: .4s;
                }
              }
              &:hover {
                a {
                  color: #b58b5b;
                  &::before {
                    width: 100%;
                    height: 1px;
                  }
                }
              }
            }
          }
          @include media-max(1280) {
            &:hover {
              padding-left: 0;
            }
          }
        }
      }
    }
  }
  &__copywrite {
    z-index: 1;
    margin-bottom: 75px;
    color: #9d9792;
    @include media-max(575) {
      margin-bottom: 35px;
    }
    span {
      display: inline-block;
      font-size: 13px;
      word-break: break-word;
      @include media-max(575) {
        font-size: 11px;
      }
      &:first-of-type {
        display: none;
        @include media-min(576) {
          display: inline-block;
        }
      }
      &:last-of-type {
        display: none;
        @include media-max(575) {
          display: inline-block;
        }
      }
    }
  }
  &__search {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
    &.active {
      opacity: 1;
      visibility: visible;
    }
    .background {
      background: rgba(63, 54, 46, .4);
    }
    &-modal {
      position: absolute;
      height: 180px;
      width: 100%;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 0 20px rgba(0,0,0,0.5);
      input {
        font-size: 32px;
        max-width: 500px;
        width: 100%;
        background: transparent;
      }
      button {
        position: absolute;
        right: 84px;
        top: 52%;
        transform: translate(0, -50%);
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}