.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 220px;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  padding: 73px 0 0 0;
  transition: .4s;
  @include media-max(1199) {
    display: none;
  }
  .hidden-background {
    opacity: 0;
    visibility: hidden;
    transition: 1s;
  }
  #category1,
  #category2,
  #category3 {
    transition: 1s;
  }
  &:hover {
    max-width: 400px;
    .sidebar {
      &-top {
        margin-left: 65px;
        transform: translate(0);
        & > span {
          font-size: 18px;
        }
      }
      &-list {
        margin-left: 65px;
        transform: translate(0);
        &__text {
          span {
            font-size: 18px;
          }
        }
      }
      &-contact {
        padding-left: 65px;
        svg {
          margin-left: 0;
          transform: translate(0);
        }
        span {
          font-size: 16px;
        }
        svg {}
      }
    }
    span.dynamic {
      opacity: 1;
      visibility: visible;
      transition: .4s;
    }
  }
  .bg-black {
    opacity: .7;
  }
  span.dynamic {
    opacity: 0;
    visibility: hidden;
    transition: .4s;
  }
  &-top {
    cursor: pointer;
    display: flex;
    transition: .4s;
    margin-left: 50%;
    transform: translate(-18%);
    & > span {
      margin-left: 42px;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 0;
    }
    &:hover {
      .burger {
        span {
          &:last-of-type {
            width: 40px;
          }
        }
      }
    }
  }

  &-list {
    margin-left: 50%;
    transform: translate(-46%);
    transition: .4s;
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      li {
        cursor: pointer;
        padding: 50px 0;
        @include media-max-h(710) {
          padding: 25px 0;
        }
        &:hover {
          a {
            color: #FFFFFF;
          }
          svg {
            fill: #FFFFFF;
          }
        }
        a {
          display: flex;
          align-items: center;
          color: #94908c;
        }
      }
    }
    &__img {
      svg {
        fill: #94908c;
        width: 100px;
        height: 70px;
        transition: .4s;
      }
    }
    &__text {
      display: flex;
      flex-direction: column;
      margin-left: 40px;
      span {
        line-height: 24px;
        white-space: nowrap;
        font-size: 0;
      }
    }
  }
  &-contact {
    position: relative;
    text-transform: uppercase;
    padding: 30px 0;
    background: rgba(0, 0, 0, .7);
    transition: .2s;
    &:hover {
      background: #36291b;
    }
    svg {
      margin-left: 50%;
      transform: translate(-50%);
      transition: .4s;
    }
    span {
      font-family: Rubik, sans-serif;
      font-size: 0;
      font-weight: 300;
      margin-left: 22px;
      color: #FFFFFF;
      transition: .4s;
    }
  }
}